<div class="highlighted_teaser">
    <div class="teaser-thumbnail">
        {{ thumbnail }}
    </div>
    <div class="teaser-text">
        <h2>{{ title }}</h2>
        {{ body }}
        <a href="{{ url }}">{{ url_text }}</a>
    </div>
</div>